:root {
  --header-height: 100px;
  --footer-height: 100px;
  --safe-padding: 20px;
  --content-width: 1440px;
  --rss-logo-size: 120px;

  --primary-color-1: #2264D1;
  --primary-color-2: #9DC2FF;
  --primary-color-3: #2979FF;

  --secondary-color-1: #ffa500;
  --secondary-color-2: #F44336;

  --text-color-1: #000000;
  --text-color-2: #19191D;
  --text-color-3: #5E6366;
  --text-color-4: #787885;
  --text-color-5: #dddddd;
  
  --bg-color: #ffffff;
}