.footer {
  background-color: rgb(245, 245, 245);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.githubLinksList {
  display: flex;
  flex-direction: column;
}

.description {
  padding: 0.5rem;
  color: var(--primary-color-1);
}
