.footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(245, 245, 245);
}

.githubLinksList {
  display: flex;
  flex-direction: column;
}

.description {
  padding: 0.5rem;
  color: var(--primary-color-1);
}
