.header-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  column-gap: 16px;
  
  &__item {

  }

  &__item-link {
    display: block;
    position: relative;

    &_active {
      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--primary-color-1);
      }
    }
  }
}